body{
	width: 100vw;
	height: 100vh;
	margin: 0px;
	overflow-x: hidden;
}

.cabecalho{
	background: #303030;
	width: 100vw;
	height: 10vh;
	display: flex;
	position: fixed;
	box-shadow: 
        inset -10px 12px 25px 0px darkcyan;
}

.esquerda{
	width: 50%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: flex-start;
}

.direita{
	width: 50%;
	height: 100%;
	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
}

.botao{
	font-weight: bold;
	font-style: oblique;
	align-self: center;
	line-height: 95%;
	margin-right: 20px;
	margin-left: 10px;
	color: white;
	opacity: 50%;
	text-decoration: none;
	border-radius: 5px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 5px;
}

.botao:hover{
	color: black;
	text-decoration: none;
	background: white;
	background: white;
	opacity: 20%;
}

.titulo
{
	color: white;
	opacity: 50%;
	align-self: center;
	justify-self: center;
	margin-left: 20px;
}

.image{
	width: 50px;
	height: 50px;
	opacity: 50%;
	align-self: center;
	margin-left: 10px;
}

.main{
	background-image: url("wall.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.secao{
	border-top-width: 2px;
    border-top-style: solid;
 	border-top-color:  white;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	height: auto;
	background: #303030;
	box-shadow: inset 0px 25px 12px -10px darkcyan;
}

.tituloPrincipal{
	color: white;
	padding: 50px;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	align-content: center;
	justify-items: center;
}

.miniTitulo{
	font-size: 50px;

}
.subtitulo{
	font-size: 30px;
	align-self: center;
	text-align: center;
}

.linha{
	display: flex;
	width: 90%;
	height: 2%;
	background: white;
	align-self: center;
	justify-self: center;
	text-align: center;
	transform: translate(5%,50%);
}

.corpo
{
	width: 100vw;
	height: 50vh;
	background: #303030;
}

.shape{
	background-image: url("wall.png");
	background-size: 100%;
	display: flex;
	align-items: center;
	justify-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
	width: 25%;
	height: 100px;
	margin-top: -50px;
	border-style: solid;
	border-radius: 2px;
	border-radius: 5px;
	border-color: white;
	margin-bottom: 25px;
}

.tituloMini{
	font-size: 25px;
	font-style: oblique;
	color: white;
}

.texto{
	color: white;
	font-style: oblique;
	font-weight: initial;
	margin-bottom: 10px;
}

.corpoTexto{
	display: flex;
	flex-direction: column;
	width: 75%;
}

.space{
	height: 100px;
	background: #303030;
}

.space2{
	height: 50px;
	background: #303030;
}

.cadeiaDeImagens{
	display: flex;
	width: 100%;
	height: 50%;
	align-content: center;
	justify-content: center;
}

.imgs{
	width: 20%;
	height: auto;
	margin: 20px;
}

.imgCodigo{
	margin: 20px;
	width: 50%;
}

#imgCodigoEditado{
	margin: 20px;
	width: 75%;
	height: auto;
}